/* Opción 1: "MedievalSharp" */
@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');

$color-primario: #f70303;

body {
  background-color: #272343;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'MedievalSharp', cursive;
  
  
  img {
    display: flex;
    align-content: center;
  }
}

.oculto {
  visibility: hidden;
}

#quiz {
  background: #000000;
  width: 30rem;
  padding: 4rem;
  text-align: center;
}

h1, h2 {
  color: $color-primario;
  font-family: 'MedievalSharp', cursive;
  font-size: 3rem;
  text-align: center;
  padding: 2px 0px;
  border-radius: 50px;
}

h3, legend {
  color: $color-primario;
  font-family: 'MedievalSharp', cursive;
}

#question {
  font-family: sans-serif;
  font-size: 1.7rem;
  color: #fc0303;
}

.buttons {
  margin-top: 30px;
}

@mixin boton {
  min-height: 80px;
  background-color: #e3f705;
  width: 250px;
  font-size: 20px;
  color: $color-primario;
  border-radius: .3rem;
  padding: 10px 20px;
  margin: 10px 40px 10px 0px;
  font-family: 'MedievalSharp', cursive;

  &:hover {
    cursor: pointer;
    background-color: #ae6860;
  }

  &:focus {
    outline: 0;
  }
}

.button {
  @include boton;
}

#progress {
  color: #c60000;
  font-size: 18px;
}

button, input {
  @include boton;

  background-color: #333;
  color: yellow;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

table,tr,td{
  color: yellow;
  border: 1px solid white;
  width: 100%;
}

#idTabla {
  display: flex;
  flex-direction: column;
  align-items: center;

  thead {
    width: 100%;
    text-align: center;
  }

  th, td {
    width: 100%;
    color: yellow;
    border: 1px solid white;
    text-align: center;
  }
}

#choices {
  text-align: center  ;
}